.btn-danger {
    background: red;
    /* padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .75em;
    padding-bottom: .75em; */
}

.special-red {
    color: red !important
}

.dropdown-item {
    white-space: normal;
}

.dropdown-menu{
    width: 380px;
}

.special-red-button {
    background-color: red;
}