.btn-danger {
    background: red;
    /* padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .75em;
    padding-bottom: .75em; */
}

.dropdown-item-special-red {
    color: red
}

.dropdown-item {
    white-space: inherit;
}